  <%= form_for @list do |form| %>
    <div class="flex items-center gap-6">
      <%= form.text_field :title, required: true, placeholder: "Enter a title", class: "text-gray-700 text-2xl font-medium rounded px-3 py-1 outline outline-1 outline-gray-200 w-96"%> 
      <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
    </div>
  <% end %>