<div class="flex justify-between mb-6">
    <div class="flex items-center gap-6 items-center">
        <h1 class="text-4xl font-bold">Manage your tasks with ease!</h1>
        <span class="text-gray-700 text-2xl font-medium rounded px-3 py-1 outline outline-1 outline-gray-200">99+</span>
    </div>
</div>
<div class="w-full px-6 py-2 mb-6 text-gray-400 text-lg font-medium text-left rounded outline outline-1 outline-gray-200">Create as many lists and tasks as you want</div>
<ul>
    <li class="flex items-start p-4 border-b border-gray-200">
        <input type="checkbox" checked class="mr-4 mt-2"></input>
        <h3 class="text-lg font-normal text-gray-600">Create, edit, and delete your lists</h3>
    </li>
    <li class="flex items-start p-4 border-b border-gray-200">
        <input type="checkbox" checked class="mr-4 mt-2"></input>
        <h3 class="text-lg font-normal text-gray-600">Add and manage tasks in different lists</h3>
    </li>
    <li class="flex items-start p-4 border-b border-gray-200">
        <input type="checkbox" checked class="mr-4 mt-2"></input>
        <h3 class="text-lg font-normal text-gray-600">Easily view pending tasks</h3>
    </li>
</ul>